<div class="container">
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Recherche</span>
    </div>
    <input #box (keyup)="getSearchFilms(box.value)" type="text" class="form-control" aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-lg">
  </div>
  <h5><span class="badge badge-secondary"> Resultats : {{json.total_results}}</span> <span
    class="badge badge-secondary"> Pages : {{json.total_pages}}</span> <span
    class="badge badge-primary">{{value}}</span></h5>

  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="json.total_pages"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    (pageChange)="loadPage($event)"
    [ellipses]="false"
    [boundaryLinks]="true"></ngb-pagination>

</div>


<div class="container">

  <ul class="films">
    <div class="row card-group">
      <div class="col-4" *ngFor="let film of films">
        <!--routerLink="/detail/{{hero.id}}-->
        <div class="card" style="width: 18rem; margin: 20px">
          <div *ngIf="film.backdrop_path">
            <img src="https://image.tmdb.org/t/p/w400{{ film.backdrop_path }}" class="card-img-top">
          </div>
          <!--<div *ngIf="!film.backdrop_path">-->
            <!--<img *ngIf="film.poster_path" src="https://image.tmdb.org/t/p/w400{{ film.poster_path }}" class="card-img-top">-->
          <!--</div>-->


          <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <p>
              <button type="button" class="btn btn-outline-primary" data-target="film.id"(click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Synopsis
              </button>
            </p>
            <div id="{{film.id}}" [ngbCollapse]="!isCollapsed">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">{{ film.overview }}</p>
                </div>
              </div>
            </div>
            <small class="text-muted"> Date de sortie : {{film.release_date | date:'dd MMMM yyyy' }}</small>
            <div class="d-flex justify-content-between align-items-center">
              <ngb-rating [rate]="film.vote_average"></ngb-rating>
            </div>


          </div>
        </div>
      </div>
    </div>
  </ul>

  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="json.total_pages"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    (pageChange)="loadPage($event)"
    [ellipses]="false"
    [boundaryLinks]="true"></ngb-pagination>

</div>


