<div class="container">
  <div class="d-flex justify-content-center">
    <h2 style="margin: 30px">Upcoming</h2>
  </div>
  <ul class="films">
    <div class="row card-group">
      <div class="col-4" *ngFor="let film of films">
        <!--routerLink="/detail/{{hero.id}}-->
        <div class="card" style="width: 18rem; margin: 20px">
          <img src="https://image.tmdb.org/t/p/w400{{ film.backdrop_path }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <p class="card-text">{{ film.overview }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="#" class="btn btn-primary">Details</a>
              <small class="text-muted"> Note : {{film.vote_average}} / 10 </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>
